.App {
    min-height: 100vh;
    background-color: rgb(0, 114, 167);
    background-color: palevioletred;
}

.sidebar-right {
    background-color: rgb(12, 42, 62);
}

@media only screen and (min-width: 768px) {
    .sidebar-right {
        min-height: 100vh;
    }
}

/* small card */

.small-card {
    border: none;
    border-radius: 6px;
    background-color: #fffc;
    box-shadow: 0px 0px 10px 0px #0003;
}

.small-card>.card-body {
    padding: 5px;
}

.small-card>.card-body div:first-child {
    font-size: 15px;
    height: 17px;
    text-align: center;
    color: rgb(31, 33, 33);
    font-weight: bold;
    font-style: normal;
    text-decoration: none;
}

.small-card>.card-body div:last-child {
    color: rgb(0, 114, 167);
    font-family: proxima_nova_rgregular, Arial, sans-serif;
    font-weight: bold;
    font-style: normal;
    text-decoration: none;
    text-align: center;
    font-size: 30.66px;
    padding-top: 5.25px;
}

/* main-card */

.main-card {
    border: none;
    border-radius: 6px;
    background-color: #fffc;
    box-shadow: 0px 0px 10px 0px #0003;
}

.main-card>.card-body {
    padding: 5px 20px;
}

.main-card>.card-body div:first-child {
    font-size: 15px;
    height: 17px;
    color: rgb(31, 33, 33);
    font-weight: bold;
    font-style: normal;
    text-decoration: none;
}

/* side card */

.side-card {
    color: white;
    border: none;
    border-radius: 6px;
    background-color: #5E7989;
    box-shadow: 0px 0px 10px 0px #0003;
}

.side-card>.card-body {
    padding: 5px 20px;
}

.side-card>.card-body div:first-child {
    font-size: 15px;
    height: 17px;
    color: rgb(31, 33, 33);
    font-weight: bold;
    font-style: normal;
    text-decoration: none;
}